# Dependencies
node_modules/

# Build output
dist/

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
.DS_Store

# Env
.env
.env.local

# Test coverage
coverage/

# tsbuildinfo
*.tsbuildinfo
.npmrc
